name: Threadfin Beta Build
on:
  push:
    branches:
      - beta
permissions:
  contents: write
jobs:
  buildBinaries:
    name: Build and release binaries
    runs-on: ubuntu-latest
    steps:
      - name: Check out code into the Go module directory
        uses: actions/checkout@v4
        with:
          ref: beta

      - name: Set up and Build
        uses: actions/setup-go@v5
        with:
          go-version: 1.22
        id: go

      - name: Build binaries
        run: |
          go mod tidy && go mod vendor
          bash ${GITHUB_WORKSPACE}/Utility/create_binaries.sh beta

      - name: Create a Release
        uses: softprops/action-gh-release@v2
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          prerelease: true
          name: Development Build
          tag_name: latest-beta
          files: dist/*
  
  buildDockerImages:
    name: Build and push Docker images
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Docker Build and Push
        uses: docker/build-push-action@v5
        with:
          context: .
          build-args: BRANCH=beta
          push: true
          no-cache: true
          platforms: linux/amd64,linux/arm64,linux/arm/v7,linux/arm/v8
          tags: mgoerentz/threadfin:${{  github.ref_name }}
