name: Threadfin Build
on:
  push:
    tags: 
      - 'v*'

permissions:
  contents: write
jobs:
  buildBinaries:
    name: Build and release binaries
    runs-on: ubuntu-latest
    steps:
      - name: Check out code into the Go module directory
        uses: actions/checkout@v4
        with:
          ref: main

      - name: Set build number
        run: |
          bash ${GITHUB_WORKSPACE}/Utility/set_buildnumber.sh ${{ vars.BUILD_NUMBER }}

      - name: Update repo variable
        env: 
          GITHUB_TOKEN: ${{ secrets.API_TOKEN }}
          REPOSITORY: ${{ github.repository }}
          NEW_BUILD: ${{ env.NEW_BUILD }}
        run: |
          bash ${GITHUB_WORKSPACE}/Utility/update_buildnumber_variable.sh

      - name: Set up and Build
        uses: actions/setup-go@v5
        with:
          go-version: 1.23
        id: go
      
      - name: Build Binaries
        run: |
          go mod tidy && go mod vendor
          bash ${GITHUB_WORKSPACE}/Utility/create_binaries.sh
      
      - name: Create a Release
        uses: softprops/action-gh-release@v2
        with:
          token: "${{ secrets.GITHUB_TOKEN }}"
          files: dist/*
          make_latest: true

  buildDockerImages:
    name: Build and push Docker Images
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Docker Build and Push
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          no-cache: true
          build-args: |
            VERSION=${{ env.NEW_VERSION }}
          platforms: linux/amd64,linux/arm64,linux/arm/v7,linux/arm/v8
          tags: |
            mgoerentz/threadfin:latest
            mgoerentz/threadfin:${{  github.ref_name }}
